/* creepster-regular - latin */
/* latin */
@font-face {
  font-family: 'Racing Sans One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/racingsansone/v13/sykr-yRtm7EvTrXNxkv5jfKKyDCAKHDneJERtQ.woff2) format('woff2');
}

:root {
    --color-japanese-laurel: #00980f;
    --color-green-leaf: #2f770b;
    --color-casablanca: #f4b457;
    --color-yellow-sea: #fca406;
    --color-martinique-light: #423851;
    --color-martinique-dark: #2f304a;
    --color-red-beech: #882400;
    --color-cedar-woord: #782102;
}

* {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--color-text-primary);
  background-color: var(--color-background-primary);
}

h1, h2, h3 {
  font-family: 'Butcherman', sans-serif;
  color: var(--color-japanese-laurel);
  margin: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-family: 'Press Start 2P', sans-serif;
  margin: 0;
  font-size: 1.5rem;
  color: var(--color-yellow-sea);
}

a {
  color: var(--special-link);
  text-decoration: underline;
}
