@import './typography.css';
@import './colors.css';
@import './spacing.css';

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

button {
  margin: 0;
  border: 0;
  padding: 0;
  background: none;
}
