@import '../../styles/global.css';

.kalcoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  padding: var(--space-xxs) var(--space-xxs);
  border-bottom: 2px dotted var(--color-tertiary);
  border-left: 2px dotted var(--color-secondary);
}

.kalcoGumb {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: var(--space-sm);
}

.ime {
  margin-right: var(--space-sm);
}

.pjt {
  font-weight: 400;
}

.puscica {
  color: var(--color-primary);
  margin-left: auto;
  transform: rotate(90deg);
  transition: transform 0.4s linear;
  font-variant-ligatures: normal;
  font-family: var(--font-tertiary);
  font-feature-settings: 'liga' 1;
}

.puscica.razsirjena {
  transform: rotate(630deg);
}

.kalco-info {
  width: 100%;

  display: flex;
  flex-direction: column;

  padding: var(--space-sm);
  background-color: var(--color-foreground);

  border: 2px ridge var(--color-tertiary);
}

.zihrDisklejmr {
  color: var(--color-yellow-sea);
  margin-bottom: var(--space-sm);
}

.zastonj {
  color: var(--color-green-leaf);
}

.zaPlacat {
  color: var(--color-tertiary);
  font-weight: 700;
}

.slika {
  margin-bottom: var(--space-md);
}

.povezavaZemljevidi {
  margin: var(--space-md) 0;
}

.naslov {
  font-weight: 900;
  margin-bottom: var(--space-sm);
}
