.kalcoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  border-left: 2px dotted var(--color-secondary);
}

.kalcoContainer .kalcoGumb {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: var(--space-sm);
}

.kalcoContainer .ocenaInIme {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.kalcoContainer .ime {
}

.kalcoContainer .puscica {
  color: var(--color-primary);
  margin-left: var(--space-md);
  transition: transform 0.4s linear;
  font-variant-ligatures: normal;
  font-family: var(--font-tertiary);
  font-feature-settings: 'liga' 1;
}

.kalcoContainer .puscica.razsirjena {
  transform: rotate(540deg);
}

.kalcoContainer .kalco-info {
  width: 100%;

  display: flex;
  flex-direction: column;

  padding: var(--space-sm);
  background-color: var(--color-foreground);

  border: 2px ridge var(--color-tertiary);
}

.kalcoContainer .slika {
  margin-bottom: 1.5rem;
  max-height: 30vh;
  object-fit: contain;
  object-position: left top;
}

.kalcoContainer .zihrDisklejmr {
  color: var(--color-secondary);
  margin-bottom: var(--space-sm);
}

.kalcoContainer .zastonj {
  color: var(--color-primary);
}

.kalcoContainer .zaPlacat {
  color: var(--color-tertiary);
  font-weight: 700;
}

.kalcoContainer .slika {
  margin-bottom: var(--space-md);
}

.kalcoContainer .povezavaZemljevidi {
  margin: var(--space-md) 0;
}

@media (max-width: 600px) {
  .kalcoContainer .ime {
    font-size: var(--text-lg);
  }

  .kalcoContainer .kalcoGumb {
    padding: var(--space-xs);
  }

  .kalcoContainer .ocenaInIme {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-xxs);
  }
}

